<h1>id: <%= @article.id %> の記事詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @article.id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @article.title %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%== @article.content %></td>
    </tr>
</table>

<%= link_to '一覧に戻る', user_path(current_user), class: 'btn btn-default' %>
<%= link_to 'この記事を編集する', edit_article_path(@article), class: 'btn btn-default'  %>
<%= link_to 'この記事を削除する', @article, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>